.box{
  border: 5px solid none;
  width: 100%;
}

.boxbar address a{
  float: right;
  text-decoration: none;
  color: black;
}

.boxbar i{
  color: black;
  width: 30px;
}

.banner-text{
  border-bottom-width: 900px;
  border-bottom: 1px solid darkgrey;
  padding: 6px;
  float: right;
}

.banner-text ul li{
  float: left;
  text-align: center;
  width: 70px;
  list-style-type: none;
}

.banner-text ul li a{
  text-decoration: none;
  color: black;
}

.banner-text ul li a:hover{
  border-bottom: 4px solid brown;
  padding: 2px;
}

body{
  background: url('https://images.unsplash.com/photo-1494599948593-3dafe8338d71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80')no-repeat;
  background-size: cover;
  z-index: 10;
}

.fa{
  padding: 20px;
  font-size: 5px;
  width: 5px;
  text-align: center;
  text-decoration: none;
}

.fa:hover{
  opacity: 0.7;
}

.fa-facebook{
  background: #3B5998;
  color: white;
}

.fa-twitter{
  background: #55ACEE;
  color: white;
}

h2{
  float: left;
}

.writer h2{
  text-transform: uppercase;
  text-shadow: 2px 2px 2px;
  padding-top: 10px;
  font-family: titillium web,sans-serif;
}

.writer form input[type="submit"]{
  position: absolute;
  top: 30%;
  left: 86%;
  border: none;
  color: white;
  background-color: red;
  padding: 10px;
  text-transform: uppercase;
}

.writer form input[type="submit"]:hover{
  background: green;
}
a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.routin h3{
  position: absolute;
  left: 30%;
  top: 20%;
  text-shadow: 1px 1px 1px;
}

.routin a{
  position: absolute;
  left: 32%;
  top: 26%;
  border: none;
  color: maroon;
}

.assign h3{
  position: absolute;
  left: 50%;
  top: 20%;
  text-shadow: 1px 1px 1px;
}

.assign a{
  position: absolute;
  left: 52%;
  top: 26%;
  border: none;
  color: maroon;
}

.board h3{
  position: absolute;
  text-shadow: 1px 1px 1px;
  left: 38%;
  top: 32%;
}

.board a{
  position: absolute;
  border: none;
  left: 42%;
  top: 38%;
  color: maroon;
}

.container a{
  position: absolute;
  top: 86%;
  left: 50%;
}

.container h4{
  position: absolute;
  top: 87%;
  left: 46%;
}

.background h1{
  position: absolute;
  text-shadow: 1px 1px 1px;
}

.form h3{
  position: absolute;
  text-shadow: 1px 1px 1px;
  left: 58%;
  top: 32%;
}

.form a{
  position: absolute;
  border: none;
  left: 62%;
  top: 38%;
  color: maroon;
}
